*{
    padding: 0;
    margin: 0;
}
body{
    background-color: gray;
    color: white;
}
.intro{
    background: linear-gradient(to bottom left, green, blue);
    height: 100vh;
}
.contener{
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 800px;
    border: 5px solid rgb(255, 0, 0);
    background: linear-gradient(to bottom left, rgb(157, 255, 0), rgb(89, 0, 255));
    border-radius: 5px;
}
.name{
    text-align: center;
    line-height: 155px;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.zix{
    width: 350px;
    height: 45px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    cursor: pointer;
    border-radius: 5px;
    font-size: 40px;
    border: 3px solid rgb(38, 0, 255);
    background-color: rgb(0, 255, 234);
}
.miner{
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}
.main{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(255, 238, 0);
    line-height: 150px;
}
span{
    color: blue;
    transition: .3s linear;
    cursor: pointer;
}
span:hover{
    color: green;
}
ul{
position: relative;
top: 0;
left: 50%;
transform: translate(-22%,-50%);
font-size: 30px;
}
li{
    color: black;
}
.footer{
    font-size: 33px;
    text-align: center;
}
footer{
    background: linear-gradient(to bottom left, rgb(87, 8, 87), blue);
    height: 100vh;
}
.square{
    z-index: 5;
    position: absolute;
    top: 150%;
    left: 150%;
    transform: translate(-285%, -50%);
    height: 600px;
    width: 800px;
    border: 5px solid rgb(255, 0, 0);
    background: linear-gradient(to bottom left, rgb(10, 184, 48), rgb(189, 81, 19));
    border-radius: 5px;
}
.convert{
    width: 350px;
    height: 45px;
    position: absolute;
    top: 37%;
    left: 51%;
    transform: translate(-50%, 10%);
    cursor: pointer;
    border-radius: 5px;
    font-size: 40px;
    border: 3px solid rgb(38, 0, 255);
    background-color: rgb(0, 255, 234);
    transition: .3s linear;
}
.convert:hover{
    border: 3px solid yellow;
    background-color: rgb(0, 102, 255);
}

.button1,
.button2,
.button3{
    font-size: 32px;
    cursor: pointer;
    transition: .3s linear;
    border: 3px solid black;
    background-color: yellow;
    border-radius: 7px;
    padding: 2px;
    margin-top: 250px;
    margin-left: 100px;
}
.button1:hover,
.button2:hover,
.button3:hover{
    border: 3px solid yellow;
    background-color: black;
    color: white;
}
.shift{
    font-size: 60px;
    text-align: center;
    border-bottom: 3px solid red;
    background: linear-gradient(to bottom left, rgb(160, 10, 92),rgb(179, 255, 0));
    color: black;
}